<script type="text/javascript" src="/javascripts/clipboard.min.js"></script>

<%=Article.list_fields%>
<div>
  <p>clipboard.js实现复制黏贴</p>
  <span style="cursor:pointer;" class="btn" title='点击复制号码' data-clipboard-text="号码" onclick="copy(this)">复制号码</span><span style="color:red;display: none;" id="zero_tip">已复制！</span>
</div>



<script type="text/javascript">
$(document).ready(function(){
  var clipboard = new Clipboard('.btn'); 
});

function copy(obj){
  $(obj).next().show();
  setTimeout(function(){$(obj).next().hide()},500);

}

</script>


