#ribbon
  %span.ribbon-button-alignment
    %span#refresh.btn.btn-ribbon{"data-html" => "true", "data-original-title" => "<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings.", "data-placement" => "bottom", "data-title" => "refresh", :rel => "tooltip"}
      %i.fa.fa-refresh
  -#/ breadcrumb
  %ol.breadcrumb
    %li
      %a{href: "/"} 首页
-#  / end breadcrumb
-#  /
-#    You can also add more buttons to the
-#    ribbon for further usability
-#
-#    Example below:
-#
-#    <span class="ribbon-button-alignment pull-right">
-#    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
-#    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
-#    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
-#    </span>
-#/ END RIBBON